"*":
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
    "atom-ide-diagnostics-ui": {}
  core:
    autoHideMenuBar: true
    projectHome: "/home/ahriman/dev/github"
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Office Code Pro"
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "86bafa26-b657-4de2-8661-ec69a4bbed5d"
  "go-plus":
    config:
      gopath: "/home/ahriman/dev/go"
